[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/medipixel/hugo-academic.git
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/medipixel/medipixel.github.io.git
	branch = master
